body{
    background-color: black;
    
}

h1 {
    color: white;
    margin-bottom: 10px;
}

p {
    color: white;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    background-color: white;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
    background-color: white;
}
.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background-color: white;
}

.container p{
    margin-bottom: 40px;
}
.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width:100%;
    border:1px solid #ccc;
    outline:none;
    padding:10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
}

button {
    width: 100px;
    border: none;
    outline: none;
    color: black;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact-left h3 {
    font-weight: 600;
    margin-bottom:30px;
}

.contact-right h3 {
    font-weight: 600;
    margin-bottom:30px;
}

tr td:first-child {
    padding-right: 20px;

}

tr td {
    padding-top: 20px;
}


/* For screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
    /* Reset container width to 100% and adjust margins */
    .container {
        width: 100%;
        margin: 20px auto;
        display: flex;
        flex-direction: column; /* Display content vertically */
        padding-top: 50px; /* Add space between menu and content */
    }

    .contact-box {
        flex-direction: column; /* Display contact-box vertically */
    }

    /* Adjust the width of contact-left and contact-right */
    .contact-left, .contact-right {
        flex-basis: auto; /* Let them take the available width */
        padding: 20px;
    }

    /* Adjust input fields and labels */
    .input-group {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    /* ... (other mobile-specific CSS adjustments) ... */
}

